<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.chofer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>chofer</name>
    <description>
        Aplicacion de kiosko para choferes
    </description>
    <author email="4lfonsomedina@gmail.com" href="http://ferbis.com">
        Ferbis Technology
    </author>
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.3.3" value="Necesario para consultar catalogo de productos" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <icon src="www/img/logo.png" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="www/img/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="www/img/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="www/img/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="www/img/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/img/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/img/res/icon/android/xxxhdpi.png" />
        <splash qualifier="land-mdpi" src="www/img/res/screen/android/splash-port-mdpi.png" />
        <splash qualifier="land-hdpi" src="www/img/res/screen/android/splash-port-hdpi.png" />
        <splash qualifier="land-xhdpi" src="www/img/res/screen/android/splash-port-xhdpi.png" />
        <splash qualifier="land-xxhdpi" src="www/img/res/screen/android/splash-port-xxhdpi.png" />
        <splash qualifier="land-xxxhdpi" src="www/img/res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
</widget>
